$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-facebook: "\e907";
$icon-call: "\e900";
$icon-prev: "\e901";
$icon-next: "\e902";
$icon-location: "\e903";
$icon-linkedin: "\e904";
$icon-twitter: "\e905";
$icon-insta: "\e906";
$icon-mail: "\e909";
$icon-leftquote: "\e977";
$icon-rightquote: "\e978";

